bcolz==1.2.1
cachetools==4.0.0
captum==0.2.0
catalogue==1.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
defusedxml==0.6.0
docutils==0.15.2
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.0
nltk==3.4.5
numpy==1.18.1
pandas==1.0.1
regex==2020.2.20
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
spacy==2.2.3
tensorboard==2.1.1
tokenizers==0.5.2
torch==1.4.0
tqdm==4.43.0
transformers==2.5.1
tweet-preprocessor==0.5.0

